---

---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>Simple Astro Frame</title>
    <meta property='og:title' content='Simple Astro Frame with SVG' />
    <meta property='og:image' content='https://placehold.co/1200x630' />
    <meta property='fc:frame' content='vNext' />
    <meta
      property='fc:frame:image'
      content='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjAwIDYzMCI+PHJlY3QgZmlsbD0iI2ZmZiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjxmb3JlaWduT2JqZWN0IHdpZHRoPSI2MDAiIGhlaWdodD0iNTAwIiB4PSIzMDAiIHk9IjY1Ij48ZGl2IHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hodG1sIiBzdHlsZT0iZm9udC1zaXplOjI0cHg7Zm9udC1mYW1pbHk6QXJpYWwsc2Fucy1zZXJpZjtkaXNwbGF5OmZsZXg7YWxpZ24taXRlbXM6Y2VudGVyO2hlaWdodDoxMDAlIj5UaGlzIGlzIGEgZnJhbWUgdGhhdCBkaXNwbGF5cyBhIHVyaSBlbmNvZGVkIHN2Zy48YnIvPjxici8+VGV4dCBpcyBkaXNwbGF5ZWQgdXNpbmcgYSAmbHQ7Zm9yZWlnbk9iamVjdCZndDsgdGFnLiBUaGlzIGxldHMgdXMgd3JhcCB0aGUgdGV4dCBpZiBhIGxpbmUgb3ZlcmZsb3dzLjwvZGl2PjwvZm9yZWlnbk9iamVjdD48L3N2Zz4='
    />
    <meta property='fc:frame:button:1' content='Click Here' />
    <!-- Add more buttons as needed -->
    <!-- <meta property='fc:frame:post_url' content='/api/handleFrameClick' /> -->
    <meta property='fc:frame:post_url' content='https://simple-astro-frame-svg.vercel.app/api/handleFrameClick' />
  </head>

  <body>
    <h1>Simple Astro Frame</h1>
    <p>A simple Farcaster Frame built with Astro</p>
  </body>
</html>
